/** Your theme modifications here **/
.contenedor-form{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-right: 20%;
	padding-left: 20%;
}
.titulos{
	text-align: center;
}
.upload-btn-wrapper {

  position: relative;

  overflow: hidden;

  display: inline-block;

}

